

/* Box Model Hack */
* {
    box-sizing: border-box;
    
}

body, html {
	height: 100%;
	font-family: OpenSans-Regular, sans-serif;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
    background: linear-gradient(to top right, #ace2ad, #17ada0);  
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .container-login100 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 44px;
} */


.wrap-login100 {
    overflow: hidden;
    padding: 65px 20px 50px;
  }

  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    display: block;
    font-size: 30px;
    color: #0B847A;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
  }
  
/******************************************
/* LAYOUT
/*******************************************/

nav{
    background-color: #fcfcfc;
   
}


label {
    color:  #0B847A;
}


i.pen,
i.comment,
i.delete{
  width: 10%;
  color: #3e6b89;
}

i.pen:hover,
i.comment:hover,
i.delete:hover{
  width: 10%;
  color: #3e6b89;
  cursor: pointer;
}






/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* modal start */


.modal-header{
  background-color: #3e6b89;
}
.modal-body{
  background-color: #f5f5f585;
}



/* modal finish */

/* footer start */


footer.txt1 {
  font-size: 25px;
  line-height: 1.4;
  color: #3e6b89;
  text-align: center;
  
}

.leafimg{
  width: 4%;
 
}

/* footer end */


/* navbar start */

.navbar-nav > li{
    padding-left:40px;
    padding-right:40px;
    font-size: 25px;
    font-weight: bold;
  }


a.nav-link {
    color: #0B847A;
}

a.nav-link:hover {
  color: #3e6b89
}

/* navbar end */

.login100-form-subtitle {
    display: block;
    font-size: 20px;
    color: #0B847A;
    text-align: center;
    padding-bottom: 20px;
  }
 
  #inputItemCategory4{
    color: #3e6b89;
  }

  /* Button start */

  button {
	outline: none !important;
	border: none;
}


  .login100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px auto;
    padding: 16px 32px;
    border-radius: 6px;
    /* width: 34%; */
    /* height: 60px; */
    background-color: #0B847A;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: background-color 0.5s;

}

.login100-form-btn:hover {
  background-color: #0a6b60;
}


  /* Button end */